.header__logo {
    width: 142px;
    height: 33px;
    object-fit: contain;
    display: block;
}

@media screen and (max-width: 640px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }
}