.sign__input-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    list-style: none;
    margin: 0 0 215px;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .sign__input-list {
        row-gap: 29px;
        margin-bottom: 173px;
    }
}