.sign__redirect-title {
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 17px;
    margin: 0;
}