.page-not-found {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center
 
}