.header__button-logout {
    border: none;
    padding: 0;
    background: none;
    color: #A9A9A9;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 2px;
    cursor: pointer;
}