.header__info-user{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    padding-top: 7px;
}