@import url(./vendor/normalize.css);

@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container-header/page__container-header.css);
@import url(./blocks/page/__container-profile/page__container-profile.css);
@import url(./blocks/page/__container-elements/page__container-elements.css);
@import url(./blocks/page/__container-footer/page__container-footer.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/main/main.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container-avatar/profile__container-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
@import url(./blocks/profile/__avatar-edit-icon/profile__avatar-edit-icon.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__activity/profile__activity.css);
@import url(./blocks/profile/__add-card-button/profile__add-card-button.css);


@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__lists/elements__lists.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__image-container/element__image-container.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title-container/element__title-container.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__likes/_is_active/element__likes_is_active.css);
@import url(./blocks/element/__likes-counter/element__likes-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/_type_image/popup_type_image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type_delete/popup__title_type_delete.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input-list/popup__input-list.css);
@import url(./blocks/popup/__input-item/popup__input-item.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/is-invalid/popup__input_is-invalid.css);
@import url(./blocks/popup/__button-sumbit/popup__button-sumbit.css);
@import url(./blocks/popup/__button-sumbit/_is-invalid/popup__button-sumbit_is-invalid.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);

@import url(./blocks/error/error.css);