.element__likes {
    margin-right: 5px;
    width: 23px;
    height: 19px;
    border: none;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../../../images/Like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.element__likes:hover {
    opacity: .5;
}
